*.class

*.bat
*.sh
*.py
*.pyc
*.properties
*.cmd
*.txt
*.txt~

LICENSE.txt

forge/mcp/temp/*
forge/patches/*
forge/mcp/runtime/*
reobf/*
forge/mcp/logs/*
lib/*
forge/mcp/jars/*
forge/client/*
forge/common/*
forge/fml/*
forge/mcp/eclipse/*
forge/mcp/docs/*
forge/mcp/conf/*
forge/mcp/bin/*
forge/mcp/src/minecraft/net/*

forge/mcp/src/minecraft/cpw/*
forge/mcp/src/minecraft/net/minecraft/*
forge/mcp/src/minecraft/net/minecraftforge/classloading/*
forge/mcp/src/minecraft/net/minecraftforge/common/*
forge/mcp/src/minecraft/net/minecraftforge/client/*
forge/mcp/src/minecraft/net/minecraftforge/event/*
forge/mcp/src/minecraft/net/minecraftforge/liquids/*
forge/mcp/src/minecraft/net/minecraftforge/fluids/*
forge/mcp/src/minecraft/net/minecraftforge/oredict/*
forge/mcp/src/minecraft/net/minecraftforge/transformers/*
forge/mcp/src/minecraft/paulscode/*
forge/mcp/src/minecraft/ibxm/*
forge/mcp/src/minecraft/assets/forge/*

Start.java
forge/mcp/src/minecraft/forge_at.cfg
forge/mcp/src/minecraft/forge_at.cfg~
forge/mcp/src/minecraft/deobfuscation_data-1.6.4.lzma

forge/mcp/src/minecraft/mcpmod.info

forge/mcp/src/minecraft/mcp.png
forge/mcp/src/minecraft/forge_logo.png
forge/mcp/src/minecraft/forge_at.cfg
forge/mcp/src/minecraft/fmlversion.properties
forge/mcp/src/minecraft/fml_marker.cfg
forge/mcp/src/minecraft/fml_at.cfg
forge/mcp/CHANGELOG

forge/mcp/src/minecraft/com/jadarstudios/developercapes/*
forge/mcp/src/minecraft/skylordjoelcore/*